<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
	
	<h1 th:text="${top}"></h1>
	
	<div id="googleMap" style="width:100%;height:700px;">
	</div>
	<form>
		<input type="button" value="Click me" onclick="msg()">
	</form>
	
	<div id="check">
		<ul th:each="stations : ${stations}">
			<li th:text="${stations.latitude}"></li>
	    	<li th:text="${stations.longitude}"></li>
	    </ul>
	</div>
	
	<script>
		
		var mapProp;
		var map;
		function myMap() {
		mapProp= {
			center:new google.maps.LatLng(45.436238,4.388181),
			zoom:14,
		};
		
		map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
		}
		
		function msg() {
			map.setCenter({lat: -34, lng: 151});
			map.setZoom(12);
		}
	</script>
	
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_XYaw05uILoBPpkEslhw7p3Rt1WccWPg&callback=myMap&region=FR"></script>

</body>
</html> 